<%= javascript_tag type: 'application/javascript' do -%>
  window.rawDisbursements = <%= raw @disbursements.to_json %>
  window.disbursementHierarchy = <%= raw @hierarchy.to_json %>
<% end -%>
<h1>Gloria Johnson - US Senate Race Disbursements - 2024</h1>
<div class="dashboard">
  <h2>Budget Breakdown</h2>
  <p><i>Mouse over to see details, click to see entries</i></p>
  <div id="sunburst-container"></div>
</div>
